.loadingcard{
    text-align: center;
    height: 720px;
    background: rgba(200, 200, 150, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 3;
    border-radius: 25px;
    cursor: none;
}
.scanner h1 {
    color: transparent;
    font-size: 7.5rem;
    position: relative;
    overflow: hidden;
   }
   
   .scanner h1::before {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    /* background: rgba(0, 0, 0, .1); */
    color:rgba(0, 0, 0,.9);
    animation: load91371 8s 8ms linear infinite;
   }
   
   @keyframes load91371 {
    0%, 10%, 100% {
     width: 0;
    }
   
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
     border-right-color: transparent;
    }
   
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
     border-right-color: transparent;
    }
   
    60%, 80% {
     width: 100%;
    }
   }